html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; 
}

.no-margin {
    margin:0;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-padding {
    padding:0;
}

.uppercase {
    text-transform: uppercase;
}

.textcenter {
    text-align: center;
}